WE2_CM55M_APP_S/obj_*/**
objs.in
*.img
we2_image_gen_local/**/*.bin
we2_image_gen_local/**/*.img
we2_image_gen_local/**/*.txt
we2_image_gen_local/**/*.elf
we2_image_gen_local/**/*.map
we2_image_gen_local/**/*.json
we2_image_gen_local/**/*.xml
we2_image_gen_local/**/*.crt
we2_image_gen_local/**/*.cfg
we2_image_gen_local/**/*.log
!we2_image_gen_local/common/2ndbl/**/*.bin
!we2_image_gen_local/common/bl/**/*.bin
!we2_image_gen_local/common/cfg/**/*.bin
!we2_image_gen_local/common/sec_mem/**/*.bin
!we2_image_gen_local/common/sec_mem/**/*.json
!we2_image_gen_local/input_case1_secboot/json/partition_case1_secboot_blp_nodiv.json
!we2_image_gen_local/input_case3_secboot/json/partition_case3_secboot_blp_nodiv.json
!we2_image_gen_local/project_case1_blp_nodiv.json
!we2_image_gen_local/project_case3_blp_nodiv.json
!we2_image_gen_local/secureboot_tool/cert/ICVSBKey1.crt
!we2_image_gen_local/secureboot_tool/cert/ICVSBContent.crt
!we2_image_gen_local/secureboot_tool/cert/OEMSBKey1.crt
!we2_image_gen_local/secureboot_tool/cert/cfg/ICVSBContent.cfg

